[package]
name = "langchain-rust"
version = "2.4.2"
edition = "2021"
publish = true
repository = "https://github.com/Abraxas-365/langchain-rust"
license = "MIT"
description = "LangChain for Rust, the easiest way to write LLM-based programs in Rust"
keywords = ["chain", "chatgpt", "llm", "langchain"]  # List of keywords related to your crate
documentation = "https://langchain-rust.sellie.tech/get-started/quickstart"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
scraper = "0.12"
serde = { version = "1.0", features = ["derive"] }
async-trait = "0.1.71"
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11", features = ["json"] }
serde_json = "1.0"
futures ="0.3"
regex = "1.9.3"
log = "0.4.19"
html-escape = "0.2.13"
reqwest-eventsource = "0.5.0"
async-openai = "0.18.3"
mockito = "1.3.0"
tiktoken-rs = "0.5.8"
sqlx = { version = "0.7.3", features = ["postgres", "runtime-tokio-native-tls", "json", "uuid" ], optional = true }
uuid = {version = "1.7.0", features = ["v4"], optional = true }
pgvector = {version = "0.3.2", features = ["postgres", "sqlx"], optional = true }
text-splitter = { version = "0.7", features = ["tiktoken-rs","markdown"] }
surrealdb = { version = "1.2.2", optional = true, default-features = false }

[features]
default = []
postgres = ["pgvector", "sqlx", "uuid"]
surrealdb = ["dep:surrealdb"]

[dev-dependencies]
tokio-test = "0.4.0"
testcontainers = "0.11"
